@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

img {
    width: 20vw;
}

.lorem {
  color: red;
  background: yellow;
  padding: 10px 15px 20px;
  border: 5px solid green;
  border-radius: 15px;
  margin: 50px;
  /*display: none;*/
}

.lorem:hover {
  color: yellow;
  background-color: red;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.block {
  background-color: dodgerblue;
  width: 40vh;
  height: 40vh;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  overflow:scroll; 
}

@media screen and (max-width: 560px) {
    img {
        width: 90vw;
    }
}